h1 {
	font-family: 'Encode Sans Condensed', sans-serif;
}

.btn-grad {
	background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%)
}

.btn-grad:hover { 
	background-position: right center; 
}