.searchBox {
	overflow-y: scroll;
	max-height: 300px;
	max-width: 600px;
	border: 1px solid #FF69B4;
	padding: 10px;
}

#sunburstChart svg {
    width: 100%;
    overflow: visible;
    padding-top: 40px;
    padding-bottom: 40px;
}