.btn {
	width: 170px;
	height: 50px;
	text-align: center;
	color: white;
}

.btn-start {
	border-color: pink;
	color: pink;
}

.card {
	width: 50%;
	position: center;
}

#logo {
	max-width: 210px;
	margin-left: -6px;
}

a {
	color: pink;
	text-decoration: underline;
}

a:hover {
	color: black;
}