.btn {
	width: 180px;
	height: 50px;
	text-align: center;
	color: white;
}

.btn-start {
	border-color: #FF69B4;
	color: #FF69B4;
	display: inline-block;
	margin: 4px;
}

.btn-start:hover {
	background-color: #FF69B4;
	color: white;
}

.card {
	width: 50%;
	position: center;
}

#logo {
	max-width: 210px;
	margin-left: -6px;
}

.form-control {
	border: none;
	border-bottom: 2px solid #FF69B4;
	border-radius: 0;
}

form {
	width: 50%;
	text-align: center;
	margin: auto;
}

.form-control:focus {
	box-shadow: none!important;
}

input:-webkit-autofill {
	background-color: white!important;
}

a {
	color: #FF69B4;
}

a:hover {
	color: black;
}

.dropdown-menu {
	max-width: 400px;
}

small {
	text-align: left!important;
}
